<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Congratulations</title>
</head>

<body>

Dear <span th:text="${userinfo.firstName}"/> <span th:text="#{userinfo.lastName}"/>, congratulations to pass the Connector Deployment challenge with success!

We are thrilled to extend our heartfelt congratulations to you for successfully passing the <b>Connector Deployment challenge</b>!
Your determination, skill, and commitment have truly shone through, and we are proud to welcome you into our esteemed club.
<br/>
This achievement is a testament to your hard work and technical acumen, qualities we value and celebrate. We are confident that you will continue to bring innovation and excellence to every endeavor within this community.
Once again, congratulations, and welcome aboard!

</body>

</html>